.projects-section {
  padding: 6rem 2rem;
  text-align: center;
  /* background: linear-gradient(to bottom, var(--bg-hero), var(--bg-main) 40%); */
  background: linear-gradient(0deg, var(--bg-main) 0%, #020617 100%);
}

.projects-section h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--text-main);
}

.projects-container {
  display: grid;
  justify-content: center;
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.project-card {
  display: flex;
  background: var(--bg-card);
  color: var(--text-main);
  border-radius: 18px;
  overflow: hidden;
  flex-direction: column;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  height: 100%;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.5);
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-info {
  padding: 1.5rem;
  text-align: left;
  flex: 1;
}

.project-info h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--text-main);
  font-size: 1.25rem;
}

.project-links {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.25rem;
}

.project-links a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--accent);
}

.project-links a:hover {
  text-decoration: underline;
}

.tech-used {
  font-size: 0.8rem;
  color: var(--accent);
  margin-top: 1rem;
}

.project-desc {
  text-align: justify;
  line-height: 1.6;
  color: var(--text-main);
  font-size: 0.9rem;
}

.project-date {
  margin-top: 1.25rem;
  font-size: 0.75rem;
  color: var(--text-muted);
}
